extends layout

block content
  #header
    img.logo(src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/66671/BukitVista_LOGO_ONLY_transparent_negces.png", alt="Bukit Vista",)
    #title
     h1 #{res.data.property.property_name} 

      h4 #{res.data.property.property_address}, #{res.data.property.area_name}
  h2 Summary for #{res.data.finance_summary.finance_month}
  table#summary-table
    tr
      th.tleft Details
      th.aright Total
    tr
      td Total Transactions :
      td.aright #{res.data.finance_summary.total_transaction}
    tr
      td Payment Recieved :
      td.aright #{res.data.finance_summary.sent_to_partner.value} 
    tr
      td Payment to BV :
      td.aright #{res.data.finance_summary.sent_to_bv.value}

  #details
    h2 Booking details

    table.dtable
      tr
        th.tleft Guest Name
        th Check-in
        th Length of Stay
        th Booking value*
        th Payout date
        th.aright Transfer amount
      
      each transaction_details in res.data.transaction_details
        each transactions in transaction_details.transactions
          tr
            td.tleft 
              <h3>#{transactions.guest_name}</h3>
              <h4>#{transactions.booking_id}</h4>
            td.checkindate #{transactions.booking_check_in}
            td #{transactions.length_of_stay}
            td #{transactions.booking_value}
            td #{transactions.payouts}
            td.aright
        tr.borderbottom 
          td
          td
          td
          td
          td
          td.total #{transaction_details.bundle_value}

  p.info *including BV commission, and payout value
  #footer
    .owner-left
      h2 Owner(s): 
      if (res.data.property.property_owners.length >= 0)
       each owner in res.data.property.property_owners
        if (res.data.property.property_owners.length == 1)
          h2 #{property_owners.name}
        else if (res.data.property.property_owners.length > 1)
          h2= owner.name + ' , '
    .rizkyright
      img.rizky(src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/66671/364395_604578.jpeg", alt="Rizky BV")
      h2 Bukit Vista Finance
      h3 Rizky - 08123456789