extends layout

block content
  #header
    img.logo(src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/66671/BukitVista_LOGO_ONLY_transparent_negces.png", alt="Bukit Vista",)
    #title
     h1 Monthly Finance Report 
     h4 #{res.data.property.property_name} #{res.data.property.property_address} 
     h4 #{res.data.property.area_name}
  #summary-table
    table.sumtable
      tr
        td.summarytitle.st1 Total Transactions :
        td.aright #{res.data.finance_sumary.total_transaction}
      tr
        td.summarytitle Payment to Partner :
        td.aright #{res.data.finance_sumary.sent_to_partner.value} 
      tr
        td.summarytitle Payment to BV :
        td.aright #{res.data.finance_sumary.sent_to_bv.value}
      tr 
        td.summarytitle.st4 Payment pending :
        td.aright #{res.data.finance_sumary.pending_payment}
    

  #details
    h2 Booking details

    table.dtable
      tr
        th
        th.tleft Guest Name
        th Check-in
        th Booking value
        th Payment to BV
        th Payment to Partner
        th
        
      
      each transaction_details in res.data.transaction_details
        tr.bundlerow
          td 2020/02/02
          td
          td
          td
          td
          td
        each transactions in transaction_details.transaction
          tr
            td
            td.tleft 
              <h3>#{transactions.guest_name}</h3>
              <h4>#{transactions.booking_id}</h4>
            td.checkindate #{transactions.booking_check_in} 
              h4 (#{transactions.length_of_stay} nights)
            td #{transactions.booking_value}
            td #{transactions.sent_to_bv}
            td #{transactions.sent_to_partner}
        tr.borderbottom
          td
          td
          td
          td
          td
          td.total Total: <br> #{transaction_details.bundle_value}
            
        

  //- p.info *including BV commission, and payout value
  #footer
    .owner-left
      h2 Owner(s): 
      if (res.data.property.property_owners.length >= 0)
       each owner in res.data.property.property_owners
        if (res.data.property.property_owners.length == 1)
          h2 #{owner.name}
        else if (res.data.property.property_owners.length > 1)
          h2= owner.name + ' , '
    .rizkyright
      img.rizky(src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/66671/364395_604578.jpeg", alt="Rizky BV")
      h2 Bukit Vista Finance
      h3 Rizky - 08123456789